.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
Thumbs.db

### Environment ###
.env

### Logs ###
*.log
logs/