<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.benepay.domain.card.mapper.CardMapper">

    <select id="findAllByUserId" parameterType="long" resultType="site.benepay.domain.card.vo.UserCardListVO">
        SELECT uc.user_card_id, c.card_id, c.card_name, c.card_type, c.card_image_url, cv.card_network, c.annual_fee,
               uc.pan_last4, uc.status, uc.is_primary AS primaryCard, uc.recommendation_enabled
        FROM user_cards uc
                 INNER JOIN cards c
                            ON uc.card_id = c.card_id
                 INNER JOIN card_variants cv
                            ON c.card_variant_id = cv.card_variant_id
        WHERE uc.user_id = #{userId}
          AND uc.deleted_at IS NULL
        ORDER BY uc.is_primary DESC, uc.created_at DESC
    </select>

    <select id="findDetailByUserCardId" resultType="site.benepay.domain.card.vo.UserCardDetailVO">
        SELECT uc.user_card_id, c.card_id, c.card_name, c.card_type, c.card_image_url, c.description, cv.card_network, c.annual_fee, uc.pan_last4,
               uc.token_expiry_date, uc.status, uc.is_primary AS primaryCard, uc.recommendation_enabled, c.is_supported AS supported, c.min_benefit_amount, uc.created_at
        FROM user_cards uc
                 INNER JOIN cards c
                            ON uc.card_id = c.card_id
                 INNER JOIN card_variants cv
                            ON c.card_variant_id = cv.card_variant_id
        WHERE uc.user_card_id = #{userCardId}
          AND uc.user_id = #{userId}
          AND uc.deleted_at IS NULL

    </select>

</mapper>